// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "banner";
@import "cards";

h1 {
  color: rgb(75, 46, 46);
  text-decoration: solid;
  font-size: medium;
}
