<% if @category.photo.attached? %>
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path @category.photo.key %>')">
    <div class="container">
      <h1><%= @category.name %></h1>
    </div>
  </div>
<% else %>
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.squarespace-cdn.com/content/v1/645373856396281dfb4b2d17/fd786f13-2ee9-4d62-acf2-9fb188765f84/new-punjab-club-food-spread.jpg?format=1500w);">
    <div class="container">
      <h1><%= @category.name %></h1>
    </div>
  </div>
<% end %>
